<form action="/admin/fields/{{field.id}}?_method=PUT" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">變更案場資訊</h1>
  </div>

  {{!-- 改成引用 partial, 實現 create 與 edit 頁面共用 --}}
  {{> admin-field-form}}
</form>