{{!-- 追蹤按鈕 --}}
{{#if userIsFollowed }}
<form action="/following/{{userId}}?_method=DELETE" method="POST" style="display: contents;">
  <button type="submit" class="btn btn-outline-danger">取消追蹤</button>
</form>
{{else}}
<form action="/following/{{userId}}" method="POST" style="display: contents;">
  <button type="submit" class="btn btn-outline-primary">追蹤</button>
</form>
{{/if}}