// 引入其他低階模組
@use "./modules//index.scss" as *;

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

* {
  box-sizing: border-box;
}

body {
  font-family: 'open sans', helvetica, arial, sans;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-color {
  color: $blue;
}

a {
  text-decoration: none;
  color: $grey;
}

// 自訂樣式
.text-container {
  color: $grey;
  white-space: nowrap; /* 防止文字換行 */
  overflow: hidden; /* 隱藏超出容器的文字 */
  text-overflow: ellipsis; /* 使用省略號表示超出的部分 */
}

.image-container {
  overflow: hidden; /* 隱藏溢出部分 */
}

.image-container img{
  object-fit: cover; /* 保持原始比例，填滿容器 */
}

.margin-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

// 訊息提示
#successAlert,
#errorAlert,
#warningAlert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1050;
  /* 使其位於較高層級，避免被其他元素遮蔽 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 添加陰影效果 */
}

.table-responsive {
  table {
    min-width: 750px;
  }

  overflow-x: auto;
}


// 複寫 bootstrap 樣式
a.nav-link {
  color: #495057 !important;
}

a.nav-link.text-container {
  color: #FFFFFF8C !important;
}

a.nav-link.active {
  color: $blue !important;
  background-color: #FFFFFF !important;
}

a.page-link {
  color: $blue !important;
}

li.page-item.active {
  a.page-link {
    color: #fff !important;
    background-color: $blue !important;
    border-color: $blue !important;
  }

  color: #fff !important;
  background-color: $blue !important;
  border-color: $blue !important;
}

table thead tr th {
  background: darken($blue, 5%) !important;
}