{{!-- 使用者註冊頁面 --}}
<div class="form-signup">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST" style="width: 100%;">
    <div class="form-row">
      <label class="form-label" for="name">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="請輸入使用者暱稱" required autofocus>
    </div>
    <div class="form-row">
      <label class="form-label" for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control" placeholder="user@gmail.com" required>
    </div>
    <div class="form-row">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" required>
    </div>
    <div class="form-row">
      <label class="form-label" for="passwordCheck">Password Check</label>
      <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" placeholder="請再次輸入密碼"
        required>
    </div>
    <button class="btn" type="submit">Submit</button>
    <div class="sign">
      <a href="/signin">已經有帳號了? 趕快登入吧!</a>
    </div>
  </form>
</div>